.searchbar
{   
    width: 50%;
    margin: 1rem auto;
}

.employeeContainer{
    display: flex;
    padding: 0.5rem;
    width: 80%;
    margin: 0 auto;
   
}

.employeeContainer:nth-child(even){
    background-color: rgb(231, 231, 231);
}

.deleteBtn{
    color: red;
    font-weight: bold;
    font-size: 1.25rem;
}

.form-control:focus{
    border: none !important;
}

@media only screen and (max-width:768px){
    .city, .image{
        display: none;
    }
}